*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    scrollbar-width: none;
}

body{
    background: rgb(0, 0, 0);
    color: whitesmoke;
    overflow-x: auto;
}